.footer{
    width: 100%;
    background-color: black;

}
.footer-general{
    padding-top: 65px;
    padding-bottom: 65px;
    display: flex;
    gap: 50px;
    margin: auto;
}
.footer-row{
    display: flex;
    align-items: center;
}