.header{
    width: 100%;
    height: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
}
.netflixitems{
    display: flex;
    padding: 5px;
    margin-left: 60px;
    gap: 35px;
    li{
        color: white;
    }
   
}
.netflixleftitems{
    display: flex;

}
.general-netflixnavbar{
    display: flex;
    justify-content: space-between;

}
.netflixrightitems{
    display: flex;
    align-items: center;
    gap: 40px;
    i{
color: white;
    }
}